/* устанавливаем все элементы flexbox-контейнера по центру по вертикали */
.password-container {
    display: flex;
    align-items: center;
}

/*применяется к элементам label, дочерним с классом "password-container"*/
.password-container label {
    margin-right: 10px; /* Задаем величину отступа справа у элементов */
}

/* скрываем видимость иконки с этим селектором*/
.hide-icon {
    display: none;
}

/*применяется ко всем элементам <input>, у которых атрибут type имеет значение "password"*/
/* Скрываем глаз в поле ввода пароля для браузеров, использующих -ms- */
input[type="password"]::-ms-reveal {
    display: none;
}