<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор туров и дата поездки</title>
    <link rel="stylesheet" href="/css/divOnDateAndShowToursSize.css">
</head>
<body style="background-color: chocolate">
<h1>Выбор туров и дата поездки</h1>

<form action="/dateAndShowTours" method="post">
    <div>
        <label for="startDate">Выберите дату начала поездки:</label>
        <input type="date" id="startDate" name="startDate" required>
    </div>
    <div>
        <label for="endDate">Выберите дату окончания поездки:</label>
        <input type="date" id="endDate" name="endDate" required>
    </div>
    <div>
        <button type="submit">Подтвердить даты</button>
    </div>
</form>

<!--Если даты поездки пользователь уже ввел-->
<div th:if="${showTours}">
    <!--Выводим даты поездки клиента-->
    <div style="background-color: palegoldenrod" class="div-on-date-and-show-tours-size">
        <h4> Выбранная дата начала поездки, <span th:text="${clientTourStartDate}"></span></h4>
        <h4> Выбранная дата окончания поездки, <span th:text="${clientTourEndDate}"></span></h4>
    </div>
    <h2>Список доступных туров:</h2>
    <div th:each="tour : ${toursList}" style="border: 1px solid black;">
        <div th:each="ibp : ${toursAvailable}">
            <div th:if="${ibp.integerValue} == ${tour.tourCode}">
                <!--Если для тура есть хоть один свободный номер на эти даты-->
                <div th:if="${ibp.booleanValue}">
                    <div class="clickableBlock div-on-date-and-show-tours-size" style="background-color: aqua" th:data-href="@{/dateAndShowTours/selectTour/{tourCode}(tourCode=${tour.tourCode})}">
                        <h4 style="text-decoration: underline;">Название тура:</h4>
                        <h3 th:text="${tour.tourName}"></h3>
                        <h4 style="text-decoration: underline;">Страна тура:</h4>
                        <p th:text="${tour.tourCountry}"></p>
                        <h4 style="text-decoration: underline;">Краткое описание тура:</h4>
                        <p th:text="${tour.tourShortDescription}"></p>
                        <h4 style="text-decoration: underline;">Название отеля тура:</h4>
                        <p th:text="${tour.hotelName}"></p>
                        <h4 style="text-decoration: underline;">Предпоказ отеля тура:</h4>
                        <img th:src="${tour.coverImageLink}" alt="Hotel Image" width="300" height="300">
                    </div>
                </div>
                <!--Если для тура нет ни одного свободного номера на эти даты-->
                <div th:if="${!ibp.booleanValue}">
                    <div class="clickableBlock div-on-date-and-show-tours-size" th:data-href="@{/dateAndShowTours/selectTour/{tourCode}(tourCode=${tour.tourCode})}" style="background: url('/technical-images/noRoomsOnYourDates.png')">
                        <h4 style="text-decoration: underline;">Название тура:</h4>
                        <h3 th:text="${tour.tourName}"></h3>
                        <h4 style="text-decoration: underline;">Страна тура:</h4>
                        <p th:text="${tour.tourCountry}"></p>
                        <h4 style="text-decoration: underline;">Краткое описание тура:</h4>
                        <p th:text="${tour.tourShortDescription}"></p>
                        <h4 style="text-decoration: underline;">Название отеля тура:</h4>
                        <p th:text="${tour.hotelName}"></p>
                        <h4 style="text-decoration: underline;">Предпоказ отеля тура:</h4>
                        <img th:src="${tour.coverImageLink}" alt="Hotel Image" width="300" height="300">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Если даты поездки пользователь еще не ввел-->
<div th:if="${!showTours}">
    <h2>Список доступных туров:</h2>
    <div th:each="tour : ${toursList}" style="border: 1px solid black">
        <div class="div-on-date-and-show-tours-size" style="background: url('/technical-images/BanToursImage.png') no-repeat center center; background-size: cover;">
            <h4 style="text-decoration: underline;">Название тура:</h4>
            <h3 th:text="${tour.tourName}"></h3>
            <h4 style="text-decoration: underline;">Страна тура:</h4>
            <p th:text="${tour.tourCountry}"></p>
            <h4 style="text-decoration: underline;">Краткое описание тура:</h4>
            <p th:text="${tour.tourShortDescription}"></p>
            <h4 style="text-decoration: underline;">Название отеля тура:</h4>
            <p th:text="${tour.hotelName}"></p>
            <h4 style="text-decoration: underline;">Предпоказ отеля тура:</h4>
            <img th:src="${tour.coverImageLink}" alt="Hotel Image" width="300" height="300">
        </div>
    </div>
</div>
<script src="/js/clickableBlocks.js"></script>
</body>
</html>
